p, em {
  max-width: 35rem;
}

.big-placeholder {
  width: 18rem;
  height: 18rem;
  display: block;
  border: 1px solid black;
}

.square {
  margin: 2rem;
  width: 15rem;
  height: 15rem;
  img{
    width: 100%;
    height: 100%;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.section-with-image {
  div > p {
    max-width: 28rem;
  }
}
.ceo-quote em{
  font-size:1.1rem;
  margin-bottom:1rem;
}
.max-width{
  max-width: 100%;
}
