<section aria-label="Travel insurance" fxFlex fxLayout="column" fxLayoutAlign="center center" class="gray-background">
  <h1>Travel Insurance</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores iure labore molestias, placeat qui quidem. Deserunt, fugiat hic
    impedit molestias nemo praesentium quas reiciendis totam! Accusantium facere ipsa provident sequi.</p>
  <button aria-label="Order travel insurance now" class="black-button">Order now</button>
</section>

<section aria-label="Insurance description" fxFlex fxLayout="column" fxLayout.md="row" fxLayoutAlign="space-between center"
         class="section-with-image">
  <img src="#" alt="" class="big-placeholder"/>
  <div>
    <h2>Insurance for international visitors</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi deleniti eos eveniet exercitationem facilis harum hic inventore
      ipsa, iure iusto maiores natus nostrum pariatur quidem quo, recusandae rem sed sequi.</p>
    <ul aria-label="Insurance for international visitors important things" class="no-padding">
      <li>List item #1</li>
      <li>List item #2</li>
      <li>List item #3</li>
    </ul>
  </div>
</section>

<section aria-label="Safe Travels" fxFlex fxLayout="column" fxLayout.md="row" fxLayoutAlign="space-between center"
         class="section-with-image">
  <div>
    <h2>Safe travels</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi beatae commodi consectetur, cum deleniti dolores, nemo non
      numquam optio praesentium quaerat quisquam sunt! Corporis delectus fugiat harum magni nulla!</p>
  </div>
  <img src="#" alt="" class="big-placeholder"/>

</section>


<section aria-label="Travel topics" fxFlex fxLayout="column" fxLayoutAlign="center center" class="travel-squares">
  <h2>Explore Our Travel Topics</h2>
  <div fxFlex fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="square">
      <img src="#" alt="" class="big-placeholder"/>
      <p>Renting Vacation Homes</p>
    </div>
    <div class="square">
      <img src="#" alt="" class="big-placeholder"/>
      <p>Trends & Predictions</p>
    </div>
    <div class="square">
      <img src="#" alt="" class="big-placeholder"/>
      <p>Popular Travel Destinations for 2021</p>
    </div>
    <div class="square">
      <img src="#" alt="" class="big-placeholder"/>
      <p>Travel Gear for Safe Travels in 2021</p>
    </div>
  </div>
</section>
<section aria-label="Our CEO quote" fxFlex fxLayout="column" fxLayoutAlign="center center" class="gray-background ceo-quote">
  <em>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis delectus fugiat harum magni nulla"</em>
  <img src="#" alt="CEO picture"/>
  <p class="max-width">Donald Duck, CEO of Disney</p>
</section>
<section aria-label="insurance contact" fxFlex fxLayout="column" fxLayout.md="row" fxLayoutAlign="space-between center">
  <div>
    <h2>Are you looking for an insurance?</h2>
    <p>Contact us to order now</p>
  </div>
  <div fxFlex fxLayout="column" fxLayoutGap="1rem" fxLayoutAlign="end" fxLayout.md="row">
    <button class="white-button mid-size" aria-label="Insurance contact call us">Call us</button>
    <button class="black-button mid-size blue-outline" aria-label="Insurance contact send a message">Send a Message</button>
  </div>

</section>
