section {
  background: white;
  color: black;

}

label {
  font-weight: 600;
}

input {
  height: 1.5rem;
}

.transparent {
  background: transparent;
  border: 0;
}

h2 {
  margin-top: 0;
  margin-bottom: 2rem;
}
